[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
flask = "*"
pandas = "==1.1.3"
numpy = "*"
flask-wtf = "*"
wtforms = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
xlrd = "==1.2.0"
openpyxl = "*"
xlsxwriter = "*"
gunicorn = "*"
pymysql = "*"
smartsheet-python-sdk = "*"
pymongo = "*"
python-swiftclient = "*"
keystoneauth1 = "*"
python-keystoneclient = "*"
importlib-metadata = "==1.7.0"
python-openstackclient = "*"
flask-mysqldb = "*"

[requires]
python_version = "3.7"
