
<!-- Ken wang, Oct, 2020 -->

{% extends 'allocation_base.html' %}

{% block content %}

<!--<div class="card container"> -->
    <table width="90%" align="center">
        <tr>
            <td>
                <ul class="nav nav-tabs">
                    <li class="active" style="font-size: large"><a href="{{ url_for('allocation_run')}}"><strong>Allocation</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('allocation_download')}}"><strong>Download</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('email_settings')}}" style="font-size: large"><strong>Email-settings</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('user_guide')}}" style="font-size: large"><strong>User-guide</strong></a></li>
                </ul>
            </td>
        </tr>
    </table>
<!-- </div> -->


<!-- <div class="container"> -->
    <form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}

        <table style="border-collapse:collapse; background-color: #eeeeee" border="0" cellspacing="0px" width="90%" align="center">
    		<tr align="center">
                <td width="5%"></td>
                <td width='40%' align="left">
                        <strong>Upload 3A4 backlog file (.csv):</strong>
                        {{ form.file_3a4 }}
                            <br><br><br>

                        <strong>Upload supply file (.xlsx):</strong>
                        {{ form.file_supply }}
                            <br><br><br>
                </td>
                <td width="10%">
                </td>

                <td width="40%" align="left">
                    <br>
                    <div class="form-group">
                    <strong>{{ form.org.label }}</strong><br>{{ form.org (class='form-control') }}<br>
                    <strong>{{ form.bu.label }}</strong><br>{{ form.bu (class='form-control')}}<br>
                    <strong>{{ form.email_option.label }}</strong><br>{{ form.email_option (class='form-control')}}<br><br>                    </div>

                </td>
                <td width="5%"></td>
            </tr>
        </table>
        <table style="border-collapse:collapse; " border="0" cellspacing="0px" width="90%" align="center">
            <tr>
                <td align="center" width="100%">
                    <br>
                    {{ form.submit_allocation(class='btn btn-default btn-lg')  }}
                    <br><br>
            	</td>
        	</tr>
	</table>
    </form>
<!-- </div> -->


{% endblock %}
