
<!-- Ken wang, Oct, 2020 -->

{% extends 'allocation_base.html' %}

{% block content %}
<div class="card container">
    <ul class="nav nav-tabs">
        <li style="font-size: large"><a href="{{ url_for('allocation_run')}}"><strong>Allocation</strong></a></li>
        <li style="font-size: large"><a href="{{ url_for('allocation_download')}}"><strong>Download</strong></a></li>
        <li class="active" style="font-size: large"><a href="{{ url_for('allocation_about')}}" style="font-size: large"><strong>About</strong></a></li>
    </ul>
</div>


<div class="container">
    <br>
    <h4>About this program:</h4> Utilize full supply picture to do CTB for the entire backlog. This creates better visibility on CTB
        dates for the entire backlog, and corresponding material shortages/impacts to support the backlog.

    <h4>Current supply data source& issue:</h4> Kinaxis supply - we still view misalignment between actual and Kinaxis supply, or
        SCR vs Kinaxis supply. The issue is still being investigated with service and BTO team.
</div>

{% endblock %}
