
<!-- Ken wang, Jan, 2020 -->
<html>
    <head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

        {% block title %}
            <title>PCBA allocation</title>
        {% endblock %}
        {% block style %}
            <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
            <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>

    <body>
    <main>
        {% block head %}
            <!-- <div class="container"> -->
                <table width="100%">
                    <tr>
                        <td width="10%"bgcolor="#2E4053" align="center">
                            <img src="{{ url_for('static', filename='logo.png')}}" width="60">
                        </td>
                        <td width="80%" bgcolor="#2E4053" align="left">
                            <br>
                            <span style="color: #f5f5f5; font-size: x-large"><strong>&nbsp;&nbsp;PCBA Allocation Tool</strong></span>
                            <br><br>
                        </td>
                        <td width="10%" bgcolor="#2E4053" align="left">
                            <br>
                            <span style="color: #f5f5f5; font-size: small">Welcome, {{ user }}</span>
                            <br><br>
                        </td>
                    </tr>
                </table>
            <!-- </div> -->
        <br>
        {% endblock %}
        <br>

        {% block content %}
        {% endblock %}

        {% block flash_message %}
            <!-- below for flashed messages -->
            <table style="border-collapse:collapse" border="0" cellspacing="0px" align="center">
                <tbody>
                    <tr>
                      <td width="90%" align="left">
                          <main class="container">
                            {% if get_flashed_messages()|length>0 %}
                              {% for message in get_flashed_messages(with_categories=True) %}
                                <div class="alert alert-{{ message[0] }}" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ message[1] }}
                                </div>
                              {% endfor %}
                            {% endif %}
                          </main>
                      </td>
                    </tr>
                </tbody>
            </table>
        {% endblock %}
    </main>

    <br><br>
    {% block footer %}
    <footer>
        <p align="center" style="font-size: small">
                2020-10   |
                <a href="https://app.smartsheet.com/sheets/vMWf8q5CPR24P52rCpxMx6H5gcv3Hx4Q3mF82pG1?view=grid" target="_blank">Exceptional priority</a> |
                <a href="https://app.smartsheet.com/sheets/2pV79R447rFhGmXM9m4Phf4J9PPjhCrfXWPMX9r1?view=grid" target="_blank">TAN group mapping</a> |
                <a href="https://app.smartsheet.com/sheets/3vRm52gg8MMM2h6xH5vv7xjHRV8rH83v5j2w9r91?view=grid" target="_blank">Exceptional in-transit</a>
        </p>
    </footer>
    {% endblock %}

    </body>
</html>