
<!-- Ken wang, Oct, 2020 -->

{% extends 'allocation_base.html' %}

{% block content %}
    <!--<div class="card container"> -->

    <!-- </div> -->
    <table width="85%" align="center">
        <tr>
            <td>
                <h3>What data are needed to run the tool?</h3>
                    <ol type="1">
                        <li>3a4 Backlog: download from UOV (under view: PCBA_ALLOCATION - default includes all DF sites and all BUs, PSP can limit to certain BUs if only do allocation for certain BUs);</li>
                        <li>Supply data (includes SCR, in-transit, DF OH, sourcing rules): read from SCDx API during allocation; can also download as file if needed;</li>
                        <li>Exceptional priority(optional): maintained in smartsheet by PSP as needed to overwrite default priority;</li>
                        <li>TAN grouping(optional): maintained in smartsheet by PSP as needed to group same material TANs;</li>
                        <li>Exceptional sourcing split(optional): maintained in smartsheet by PSP as needed to correct the sourcing split;</li>
                        <li>Missing in-transit (for SRG only): maintained in smartsheet as needed by Mandy as short term fix of SCDx missing data for cross partner intransit.</li>
                    </ol>

                <h3>How to run the allocation?</h3>
                    <ol type="1">
                        <li>Download 3a4 from UOV (via view: PCBA_ALLOCATION) and upload to this tool; </li>
                        <li>Supply data can be read from SCDx API directly during allocation run; or download from the API in advance - you can then manually adjust any data in the file if need to - and upload to this tool;</li>
                        <li>Select PCBA org (mandatory), and BUs (optional);</li>
                        <li>Click "Make Allocation".</li>
                        <li>Download/Share the result from the "Result" tab.</li>
                    </ol>

                <h3>Email sharing</h3>
                    <ol type="1">
                        <li>Backlog detail tab is removed when shared in email,internal users can download full report from this site.</li>
                        <li>Recipient is based on the <a href="{{ url_for('subscribe') }}" target="_blank"> subscription</a> according to the defined ORG/BU.</li>
                    </ol>

                <h3>What is the order ranking priority we use?</h3>
                We follow general service 17 order priority guideline to rank the orders. This is the priority sequence we used: PR1/2/3/L4/BUP/OSSD/YE/QTY/REVENUE_NON_REVENUE.

                <h3>What is Exceptional priority?</h3>
                PSP can give an exceptional priority to a non-priority SS so they can also get an absolute high priority despite OSSD and reflect in allocation - this should be used only exceptionally.

                Default priority ranking#: PR1:1; PR2:2; PR3:3; L4:4; BUP:5. PSP can set exceptional priority via the link you can find in the footer.
                E.g., if one SS is added with Ranking# 4.1, this SS will be ranked after L4; or if added with Ranking# greater than 5, they will be after BUP; etc.

                <h3>What is Tan grouping?</h3>
                Some BU have different TAN supply to different DF sites but which share the same materials at PCBA level, by grouping them we can not only decide the allocation between DF but also let PCBA site know how to allocate the materials between the different TANs to best optimize the production. PSP can set the grouping as needed via the link you can find in the footer.

                <h3>What is Exceptional sourcing split?</h3>
                Some TAN have wrong sourcing split in SCDx intentionally due to scheduling would be impacted if not in some cases. PSP can put in a correct sourcing split via the link you can find in the footer so the allocation will consider the right split.

                <br><br>
                
            </td>
        </tr>
    </table>
<br><br>
{% endblock %}
