
<!-- Ken wang, Oct, 2020 -->

{% extends 'allocation_base.html' %}

{% block content %}
    <!--<div class="card container"> -->
    <table width="90%" align="center">
        <tr>
            <td>
                <ul class="nav nav-tabs">
                    <li style="font-size: large"><a href="{{ url_for('allocation_datasource')}}"><strong>Datasource</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('allocation_run')}}"><strong>Allocation</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('allocation_download')}}"><strong>Download</strong></a></li>
                    <li class="active" style="font-size: large"><a href="{{ url_for('email_settings')}}" style="font-size: large"><strong>Email-settings</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('user_guide')}}" style="font-size: large"><strong>User-guide</strong></a></li>
                </ul>
            </td>
        </tr>
    </table>
    <!-- </div> -->


    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
         <!-- below for flashed messages -->
        <table style="border-collapse:collapse" border="0" cellspacing="0px" width="88%" align="center">
                <tr>
                  <td align="left" width="70%">
                        {% if get_flashed_messages()|length>0 %}
                          {% for message in get_flashed_messages(with_categories=True) %}
                            <div class="alert alert-{{ message[0] }}" role="alert">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message[1] }}
                            </div>
                          {% endfor %}
                        {% endif %}
                  </td>
                </tr>

                <tr> <!-- email setting -->
                    <td width="95%">
                        <br>
                        Allocation result sharing will be based on below email settings in future for both Cisco internal and CM, pls set up accordingly.
                        <br><br><br>
                        <table width="980" border="0" cellspacing="1px" align="left" style="border-color: #c5c5c5;">
                            <tr>
                                <td align="left" width="10%">
                                    Identity:<br>
                                    {{ form.identity (class='form-control')}}
                                </td>
                                <td align="left" width="14%">
                                    PCBA Org:<br>
                                    {{ form.pcba_org (class='form-control')}}
                                </td>
                                <td align="left" width="22%">
                                    BU (optional):<br>
                                    {{ form.bu (class='form-control')}}
                                </td>
                                <td align="left" width="22%">
                                    PF (optional):<br>
                                    {{ form.pf (class='form-control')}}
                                </td>
                                <td align="left" width="22%">
                                    Email address:<br>
                                    {{ form.email_to_add (class='form-control')}}
                                </td>
                                <td align="right" width="10%">
                                    <br>
                                    {{ form.submit_add (class='btn-primary btn-sm')}}
                                </td>
                            </tr>
                        </table>
                        <br>
                        <table width="800" border="0" cellspacing="1px" align="left" style="border-color: #c5c5c5;">
                            <tr><td>* If input multiple ORG or BU please separate by '/'.</td></tr>
                        </table>

                        <br>
                        <table width="980" border="0" cellspacing="1px" align="left" style="border-color: #c5c5c5;">
                            <tr>
                                <td align="left" width="90%">
                                    <br><br>
                                    Email to remove:<br>
                                    {{ form.email_to_remove (class='form-control') }}
                                </td>
                                <td align="right" width="10%">
                                    <br><br><br>
                                    {{ form.submit_remove (class='btn-primary btn-sm')}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>


              <tr> <!-- For viewing the email details -->
                    <td width="95%">
                        <br><br><br>
                                {% if email_details|length>0 %}
                                    <table style="border-collapse:collapse; word-break:break-all; word-wrap: break-word " border="1" cellspacing="0px" align="left">
                                        <tr>
                                            <td width="40"><span style="font-size: large;">&nbsp;&nbsp;id</span></td>
                                            <td width="80"><span style="font-size: large;">&nbsp;&nbsp;Identity</span></td>
                                            <td width="120"><span style="font-size: large">&nbsp;&nbsp;PCBA_Org</span></td>
                                            <td width="180"><span style="font-size: large">&nbsp;&nbsp;BU</span></td>
                                            <td width="180"><span style="font-size: large">&nbsp;&nbsp;PF</span></td>
                                            <td width="180"><span style="font-size: large">&nbsp;&nbsp;Email</span></td>
                                            <td width="100"><span style="font-size: large">&nbsp;&nbsp;Added_by</span></td>
                                            <td width="100"><span style="font-size: large">&nbsp;&nbsp;Added_on</span></td>
                                        </tr>
                                        {% for row in email_details %}
                                            <tr>
                                                {% for col in row %}
                                                    <td><span style="font-size: small">&nbsp;&nbsp;&nbsp;{{col}}</span></td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                    </td>
                </tr>
        </table>
    </form>
{% endblock %}

{% block flash_message %}
    <!-- set up falsh separately above -->
{% endblock %}

{% block empty_space %}
    <br><br><br><br>
{% endblock %}