
<!-- Ken wang, May, 2021 -->

{% extends 'allocation_base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <table style="border-collapse:collapse; background-color: whitesmoke"   border="0" cellspacing="0px" align="center" width="80%">
            <tr>
                <td width="50%" align="center">
                    <h4>Replace my data with this template</h4>
                </td>
                <td width="50%" align="left">
                    <br>
                    {{ form.file_upload_template.label }}<br>
                    {{ form.file_upload_template }}<br>
                    {{ form.submit_upload_template }}

                    <br><br>
                </td>
            </tr>
        </table>
        <br>

        <table style="border-collapse:collapse; "   border="0" cellspacing="0px" align="center" width="70%">
            <tr>
                <td align="left">
                    <br>
                    <details>
                        <summary><span style="color: #bf002b">====================================> Guidelines (click to view/hide) <====================================</span></summary>
                            <b>Comments about the priority:</b>
                                <li>Default priority: PR1:1; PR2:2; PR3:3; L4:4; BUP:5; followed with other orders;</li>
                                <li>Below exceptional ranking will overwrite the default priority. The ranking# can be any integer or float number; smaller number will have higher rank. E.g., for SO#123456-1, if set ranking as 1.1, it will be ranked after PR1 orders and before PR2 orders;</li>
                                <li>We can set ranking# to 9999 to make a priority order "normal" order;</li>
                            <br>
                            <b>Suggested approaches:</b>
                                <li>Step 1: Click "Download my data" to get a spreadsheet with orders under your name;</li>
                                <li>Step 2: Update the spreadsheet template as needed: remove existing orders, add in new orders, change the ranking, etc.</li>
                                <li>Step 3: "Replace my data with this template" by uploading the spreadsheet. This will delete all data under your name in the database table and upload the new data through the template.</li>
                    </details>
                    <br><br>
                </td>
            </tr>
        </table>
        <br>

        <table style="border-collapse:collapse; "   border="0" cellspacing="0px" align="center" width="80%">
            <tr>
                <td align="center">
                    {{ form.submit_show_all }} &emsp; {{ form.submit_show_me }}  &emsp; {{ form.submit_download_me }} &emsp; {{ form.submit_show_bu_org }}{{ form.bu_org }}{{ form.submit_download_bu_org }}
                </td>
            </tr>
        </table>
        <br><br>

        <p align="center">({{ summary_info }})</p>
        <table style="border-collapse:collapse"  border="1" cellspacing="0px" align="center" width="80%">
            <tr>
                {% for col in db_data_header %}
                    <td align="center"><span style="font-size: small">&nbsp;&nbsp;&nbsp;<strong>{{col}}</strong></span></td>
                {% endfor %}
            </tr>
            {% if db_data_value|length>0 %}
                {% for row in db_data_value %}
                    <tr>
                        {% for col in row %}
                            <td align="center"><span style="font-size: small">&nbsp;&nbsp;&nbsp;{{col}}</span></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </form>

{% endblock %}


{% block empty_space %}
{% endblock %}