
<!-- Ken wang, Oct, 2020 -->

{% extends 'allocation_base.html' %}

{% block content %}
    <!--<div class="card container"> -->
    <table width="90%" align="center">
        <tr>
            <td>
                <ul class="nav nav-tabs">
                    <li style="font-size: large"><a href="{{ url_for('allocation_datasource')}}"><strong>Datasource</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('allocation_run')}}"><strong>Allocation</strong></a></li>
                    <li class="active" style="font-size: large"><a href="{{ url_for('allocation_download')}}"><strong>Download</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('email_settings')}}" style="font-size: large"><strong>Email-settings</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('user_guide')}}" style="font-size: large"><strong>User-guide</strong></a></li>
                </ul>
            </td>
        </tr>
    </table>
    <!-- </div> -->


    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
         <!-- below for flashed messages -->
        <table style="border-collapse:collapse" border="0" cellspacing="0px" width="88%" align="center">
                <tr>
                  <td align="left" width="95%">
                        {% if get_flashed_messages()|length>0 %}
                          {% for message in get_flashed_messages(with_categories=True) %}
                            <div class="alert alert-{{ message[0] }}" role="alert">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message[1] }}
                            </div>
                          {% endfor %}
                        {% endif %}
                  </td>
                </tr>

                <tr>  <!-- For deleting the files created by user -->
                    <td width="95%">
                        <br>
                        <p><strong> Delete files created by yourself:</strong></p>
                                <table width="840" border="0" cellspacing="1px" align="left" style="border-color: #c5c5c5;">
                                    <tr>
                                        <td align="left" width="85%">
                                            {{ form.file_name_delete (class='form-control')}}
                                        </td>
                                        <td align="center" width="15%">
                                            {{ form.submit_delete (class='btn-primary btn-sm')}}
                                        </td>
                                    </tr>
                                </table>
                    </td>
                </tr>


                <tr>  <!-- For sharing the files via email -->
                    <td width="95%">
                        <br>
                        <p><strong> Share allocation result via email:</strong></p>
                                <table width="840" border="0" cellspacing="1px" align="left" style="border-color: #c5c5c5;">
                                    <tr>
                                        <td align="left" width="85%">
                                            {{ form.file_name_share (class='form-control')}}
                                            {{ form.email_msg (class='form-control') }}
                                        </td>
                                        <td align="center" width="15%">
                                            {{ form.submit_share (class='btn-primary btn-sm')}}
                                        </td>
                                    </tr>
                                </table>
                    </td>
                </tr>

                <tr>  <!-- For downloading the allocation resut files -->
                    <td width="95%">
                        <br><br><br>
                            {% if files_output|length>0 %}
                                <p><strong> Allocation files generated (record kept by {{ output_record_days }} days):</strong></p>
                                <table border="1" cellspacing="1px" align="left" style="border-color: #c5c5c5;">
                                    <tbody>
                                        <tr>
                                            <td width="400"><span style="font-size: large;">&nbsp;&nbsp;File name</span></td>
                                            <td width="200"><span style="font-size: large">&nbsp;&nbsp;Creation time</span></td>
                                            <td width="120"><span style="font-size: large">&nbsp;&nbsp;File size</span></td>
                                            <td width="120">&nbsp;&nbsp;File download</td>
                                        </tr>
                                        {% for row in files_output %}
                                            <tr>
                                                {% for col in row[:3] %}
                                                    <td><span style="font-size: small">&nbsp;&nbsp;&nbsp;{{col}}</span></td>
                                                {% endfor %}
                                                <td align="center">
                                                    <a href="{{ url_for('download_file_output',filename=row[0]) }}">download</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                    </td>
                </tr>


                <tr> <!-- For downloading uploaded input data files -->
                    <td width="95%">
                        <br><br><br>
                                {% if files_uploaded|length>0 %}
                                    <p><strong> Input files uploaded by user (record kept by {{ upload_record_days }} days):</strong></p>
                                    <table style="border-collapse:collapse" border="1" cellspacing="0px" align="left">
                                        <tr>
                                            <td width="400"><span style="font-size: large;">&nbsp;&nbsp;File name</span></td>
                                            <td width="200"><span style="font-size: large">&nbsp;&nbsp;Creation time</span></td>
                                            <td width="120"><span style="font-size: large">&nbsp;&nbsp;File size</span></td>
                                            <td width="120">&nbsp;&nbsp;File download</td>
                                        </tr>
                                        {% for row in files_uploaded %}
                                            <tr>
                                                {% for col in row[:3] %}
                                                    <td><span style="font-size: small">&nbsp;&nbsp;&nbsp;{{col}}</span></td>
                                                {% endfor %}
                                                <td align="center">
                                                    <a href="{{ url_for('download_file_upload',filename=row[0]) }}">download</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                    </td>
                </tr>
        </table>

    </form>

{% endblock %}

{% block flash_message %}
{% endblock %}