
<!-- Ken wang, Oct, 2020 -->

{% extends 'allocation_base.html' %}

{% block content %}
    <!--<div class="card container"> -->
    <table width="90%" align="center">
        <tr>
            <td>
                <ul class="nav nav-tabs">
                    <li style="font-size: large"><a href="{{ url_for('allocation_datasource')}}"><strong>Datasource</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('allocation_run')}}"><strong>Allocation</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('allocation_download')}}"><strong>Download</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('email_settings')}}" style="font-size: large"><strong>Email-settings</strong></a></li>
                    <li class="active" style="font-size: large"><a href="{{ url_for('user_guide')}}" style="font-size: large"><strong>User-guide</strong></a></li>
                </ul>
            </td>
        </tr>
    </table>
    <!-- </div> -->
    <table width="85%" align="center">
        <tr>
            <td>
                <h3>Who can use this tool?</h3>
                <p>
                    PMM and PSP are eligible to run this tool. PMM(Mandy Fan) runs site level PCBA allocation every Monday for PCBA site execution; PSP can rerun the allocation for <strong>respective BU</strong> during other days of the week upon needs.
                </p>

                <h3>What data are need to run the tool?</h3>
                    <ol type="1">
                        <li>3a4 Backlog: download from UOV with view: kw_PA (default includes all DF sites and all BUs, user can limit to certain BUs if only do allocation for certain BUs);</li>
                        <li>Supply data file (includes SCR, in-transit, DF OH, sourcing rules): download from "Datasource" tab via "Download supply data file from SCDx-POC)";</li>
                        <li>Exceptional priority(optional): maintained in smartsheet by PSP as needed;</li>
                        <li>TAN grouping(optional): maintained in smartsheet by PSP as needed;</li>
                        <li>Missing in-transit (for SRG only): maintained in smartsheet as needed by Mandy as short term fix of SCDx missing data.</li>
                    </ol>

                <h3>How PMM run the tool on Monday for whole site?</h3>
                    <ol type="1">
                        <li>Download 3a4 and supply data file;</li>
                        <li>Upload the 2 files from the "Allocation" tab;</li>
                        <li>Put in appropriate PCBA org;</li>
                        <li>Select appropriate email option;</li>
                        <li>Click "Make Allocation".</li>
                    </ol>


                <h3>How PSP run the tool for responsible BU on other days?</h3>
                    <ol type="1">
                        <li>Download 3a4 and supply data file;</li>
                        <li><span style="color: #1a6dca">Adjust the supply data file as needed - if updated supply not reflected in SCDx;</span></li>
                        <li>Upload the 2 files from the "Allocation" tab;</li>
                        <li>Put in appropriate PCBA org <span style="color: #1a6dca">and BU</span>; </li>
                        <li>Select appropriate email option;</li>
                        <li>Click "Make Allocation".</li>
                    </ol>

                <h3>What is Exceptional priority?</h3>
                PSP can give an exceptional priority to any SS to overwrite the priority setting in UOV. This can be used in situations like:
                <ol type="1">
                    <li>Order is not reflecting as priority in UOV but PSP wants to consider it as priority;</li>
                    <li>PSP may want to give higher priority to certain orders (e.g. L4, BUP) so they get absolute priority even though this may lead to other OTD hits if site execute accordingly;</li>
                    <li>PSP has a close control on order priority and require site to execute strictly following a specific order list in sequence;</li>
                    <li>Etc.</li>
                </ol>
                PSP can set the priority via this <a href="https://app.smartsheet.com/sheets/vMWf8q5CPR24P52rCpxMx6H5gcv3Hx4Q3mF82pG1?view=grid" target="_blank">smartsheet</a>. Default priority ranking#: PR1:1; PR2:2; PR3:3; L4:4; BUP:5; YE:6. Rank#<4 will have absolute priority surpassing FCD of other orders; Rank#>=4 will be prioritized on top of FCD dates.

                <h3>What is Tan grouping?</h3>
                Some BU have different TAN supply to different DF sites but which share the same materials at PCBA level, by grouping them we can not only decide the allocation but also let PCBA site know how to allocate the materials between the different TANs in production. PSP can set the grouping as needed via this <a href="https://app.smartsheet.com/sheets/2pV79R447rFhGmXM9m4Phf4J9PPjhCrfXWPMX9r1?view=grid" target="_blank">smartsheet</a>.
                <br><br>
                <br><br>
                <p>
                    <strong>P.S.</strong>&nbsp;&nbsp; if any feedback or suggestions pls feel free to talk to Mandy or Ken.
                </p>

            </td>
        </tr>
    </table>
<br><br>
{% endblock %}
