
<!-- Ken wang, Oct, 2020 -->

{% extends 'allocation_base.html' %}

{% block content %}
<div class="card container">
    <ul class="nav nav-tabs">
        <li style="font-size: large"><a href="{{ url_for('allocation_run')}}"><strong>Allocation</strong></a></li>
        <li class="active" style="font-size: large"><a href="{{ url_for('allocation_download')}}"><strong>Download</strong></a></li>
        <li style="font-size: large"><a href="{{ url_for('allocation_about')}}" style="font-size: large"><strong>About</strong></a></li>
    </ul>
</div>

<div class="container">
    <form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
         <!-- below for flashed messages -->
        <table style="border-collapse:collapse" border="0" cellspacing="0px" align="center">
            <tbody>
                <tr>
                  <td width="1200" align="left">
                      <main class="container">
                        {% if get_flashed_messages()|length>0 %}
                          {% for message in get_flashed_messages(with_categories=True) %}
                            <div class="alert alert-{{ message[0] }}" role="alert">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message[1] }}
                            </div>
                          {% endfor %}
                        {% endif %}
                      </main>
                  </td>
                </tr>
            </tbody>
        </table>

        <br>
        {{ form.fname_output.label }}
        {{ form.fname_output (class='form-control')}}{{ form.submit_download_output (class='btn btn-default')}}
        <br><br>
        <p>List of the files you can download (latest on the top):</p>
        {% for file in files_output %}
            <li> {{ file }} </li>
        {% endfor %}
        <br><br>

        {{ form.fname_uploaded.label }}
        {{ form.fname_uploaded (class='form-control')}}{{ form.submit_download_uploaded (class='btn btn-default')}}
        <br><br>
        <p>List of the files you can download:</p>
        {% for file in files_uploaded %}
            <li> {{ file }} </li>
        {% endfor %}

    </form>
</div>

{% endblock %}

{% block flash_message %}
{% endblock %}