
<!-- Ken wang, Oct, 2020 -->

{% extends 'allocation_base.html' %}

{% block content %}
    <!--<div class="card container"> -->
    <table width="90%" align="center">
        <tr>
            <td>
                <ul class="nav nav-tabs">
                    <li style="font-size: large"><a href="{{ url_for('allocation_datasource')}}"><strong>Datasource</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('allocation_run')}}"><strong>Allocation</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('allocation_download')}}"><strong>Download</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('email_settings')}}" style="font-size: large"><strong>Email-settings</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('user_guide')}}" style="font-size: large"><strong>User-guide</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('allocation_admin')}}" style="font-size: large"><strong>Admin</strong></a></li>
                    <li class="active" style="font-size: large"><a href="{{ url_for('document')}}" style="font-size: large"><strong>Document</strong></a></li>
                </ul>
            </td>
        </tr>
    </table>
    <!-- </div> -->
    <table width="85%" align="center">
        <tr>
            <td>
                <h3>Rules for getting DF OH from SCDx(POC):</h3>
                <p>
                    Considering combo org issue, we need to use ClassCode to decide whether the OH belongs to SM or DF. When downloading OH from SCDx:
                    <li>When download ORG = DF org : OH for DF should be using FA&T(both WH and WIP); </li>
                    <li>If not: OH for DF sites should be RAW(WH) + FA&T(WIP)</li>
                    <li>Those not sourced from the download org may be incorrect so will be removed from the output report.</li>
                </p>
                <br><br>

                <h3>Exceptional ranking:</h3>
                <p>
                    <li>PR1/2/3/L4/BUP are priorities rankings</li>
                    <li>As long as there is a ranking# provided it's considered as top priority. Can give a new ranking for above, but can't remove them from top ranking group.</li>

                </p>
                <br><br>

                <h3>Intransit consumption:</h3>
                <p>
                    <li>ETA<=15days considered same as OH to fulfill backlog</li>
                    <li>ETA>15days (close_eta_cutoff_criteria) can fulfill backlog backward by 10days (eta_backward_offset_days) onward based on OSSD date(without transit time offset).</li>

                </p>
                <br><br>

                <h3>Transit time:</h3>
                <p>
                    Read from the sourcing rules data and pick the shortest date.
                    If transit time is 0 then change it 1. Affects sites like FOL to FOC, FDO to FDO, etc.
                </p>
                <br><br>

                <h3>TODO:</h3>
                <p>
                    <li></li>
                </p>
                <br><br>

                <h3>3A4:</h3>
                <p>
                    3A4 contents only keep those with BOM_PN in the sourcing rules. TAN_GROUPing is kept unconditionally so far but which may not be needed/relevant.
                    TODO: above may be reviewed and further removed is not relevant.
                </p>
                <br><br>



            </td>
        </tr>
    </table>
<br><br>
{% endblock %}
