
<!-- Ken wang, Oct, 2020 -->

{% extends 'allocation_base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
         <!-- below for flashed messages -->

        <table style="border-collapse:collapse" border="0" cellspacing="0px" width="80%" align="center">

                <tr> <!-- For downloading data from SCDx -->
                    <td width="85%">
                        <br><br>
                        <span style="color: #005cbf"></span> Download SCR(POR), OH, In-transit, Sourcing rules through SCDx API (production db):<br><br>
                        {{ form.pcba_site_prod(class='form-control') }}
                    </td>
                    <td align="center" width="15%">
                        <br><br><br><br>
                        {{ form.submit_download_supply_prod (class='btn-primary btn-sm') }}
                    </td>
                </tr>
        </table>
    </form>

{% endblock %}

{% block empty_space %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}