
<!-- Ken wang, Oct, 2020 -->

{% extends 'allocation_base.html' %}

{% block content %}
    <!--<div class="card container"> -->

    <!-- </div> -->


    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
         <!-- below for flashed messages -->
        <table style="border-collapse:collapse" border="0" cellspacing="0px" width="88%" align="center">
                <tr>
                  <td align="left" width="50%">
                        {% if get_flashed_messages()|length>0 %}
                          {% for message in get_flashed_messages(with_categories=True) %}
                            <div class="alert alert-{{ message[0] }}" role="alert">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message[1] }}
                            </div>
                          {% endfor %}
                        {% endif %}
                  </td>
                </tr>

                <tr> <!-- email setting -->
                    <td width="95%">
                        <br>
                        <table width="850" border="0" cellspacing="1px" align="center" style="border-color: #c5c5c5;">
                            <tr>
                                <td align="left" width="20%">
                                    Email address:<br>
                                    {{ form.email_to_add (class='form-control')}}
                                </td>
                                <td align="left" width="20%">
                                    PCBA Org:<br>
                                    {{ form.pcba_org (class='form-control')}}
                                </td>
                                <td align="left" width="20%">
                                    BU (optional):<br>
                                    {{ form.bu (class='form-control')}}
                                </td>
                                <td align="right" width="10%">
                                    <br>
                                    {{ form.submit_add (class='btn-primary btn-sm')}}
                                </td>
                            </tr>
                        </table>
                        <table width="850" border="0" cellspacing="1px" align="center" style="border-color: #c5c5c5;">
                            <tr><td align="left">* If input multiple ORG, BU or PF, separate by '/'.</td></tr>
                        </table>
                    </td>
                </tr>


              <tr> <!-- For viewing the email details -->
                    <td width="95%">
                        <br><br><br>
                                {% if email_details|length>0 %}
                                    <table style="border-collapse:collapse; word-break:break-all; word-wrap: break-word " border="1" cellspacing="0px" align="center">
                                        <tr>
                                            <td><span style="font-size: large;">&nbsp; id &nbsp;</span></td>
                                            <td><span style="font-size: large">&nbsp; Email &nbsp;</span></td>
                                            <td><span style="font-size: large">&nbsp; PCBA_Org &nbsp;</span></td>
                                            <td><span style="font-size: large">&nbsp; BU &nbsp;</span></td>
                                            <td><span style="font-size: large">&nbsp; Added_by &nbsp;</span></td>
                                            <td><span style="font-size: large">&nbsp; Added_on &nbsp;</span></td>
                                            <td><span style="font-size: large">&nbsp; Remove_email &nbsp;</span></td>
                                        </tr>
                                        {% for row in email_details %}
                                            <tr>
                                                {% for col in row %}
                                                    <td align="center"><span style="font-size: small"> &nbsp;{{col}}</span></td>
                                                {% endfor %}
                                                <td align="center">
                                                    <a href="{{ url_for('delete_email_record',login_user=login_user,email=row[1],added_by=row[4],email_id=row[0]) }}">remove</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                    </td>
                </tr>
        </table>
    </form>
{% endblock %}

{% block flash_message %}
    <!-- set up falsh separately above -->
{% endblock %}

{% block empty_space %}
    <br><br><br><br>
{% endblock %}